body {
  background-image: url("../assets/theme.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

header.navBar {
	text-align: center;
}

.navBarItem {
	font-size: 30px;
	border: 2px solid red;
	padding: 2px;
	display: inline-block;
}

div#trailer {
	text-align: center;
}

.navBarItem a:link {
  color: red;
}

/* visited link */
.navBarItem a:visited {
  color: darkred;
}

/* mouse over link */
.navBarItem a:hover {
  color: yellow;
}

/* selected link */
.navBarItem a:active {
  color: white;
}

div#topimg {
	text-align: center;
}

#about a:link {
  color: red;
}

/* visited link */
#about a:visited {
  color: darkred;
}

/* mouse over link */
#about a:hover {
  color: yellow;
}

/* selected link */
#about a:active {
  color: white;
}

div#feature {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

div#feature table {
	margin: auto;
}

div#featurecontent1 {
	width: 500px;
	float: left;
}

div#featurecontent2 {
	width: 500px;
	float: right;
}

div#gallery{
	margin-top: 20px;
	text-align: center;
}

div#table table {
	margin: auto;
}

div#requirements {
	text-align: center;
}

div#requirements table {
	margin: auto;
}